nav ul {display: inline; list-style: none; }
nav li {padding-right: 10px;}
#login, #menu {padding: 10px;}

#login{ background: rgb(255, 255, 255); }
#login ul li{float: inline-end;}

#menu{background: rgb(255, 255, 255)}
#menu ul li{float: inline-start;}

#sis {background: rgb(255, 230, 0);}

#file {background: rgb(145, 255, 0)}  /* mediumorchid; darkgreen*/

#public { background:  rgb(0, 255, 213); }

@media (max-width: 600px){
  #login, #menu{display: grid; }
}